table.mat-elevation-z8 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.mat-elevation-z8 th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.mat-elevation-z8 th,
.mat-elevation-z8 td {
    padding: 12px 15px;
}

.mdc-button{
    background-color: #8fbc8f;
    left: 10px;
}
.mdc-button{
    margin-right: 10px;
}
form.mat-elevation-z8{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-color: #009879;
}

span .mat-mdc-button-touch-target {
    background-color: #8fbc8f !important;
    
}
.green-button {
    background-color: #8fbc8f !important;

}